
.flag-list {
  display: flex;
  flex-wrap: wrap; /* items to wrap to the next row */
  justify-content: space-between; /* Space between items */
  gap: 10px;
  flex-direction: row;
  width: 100%;
}

.flag-item {
  flex-basis: calc(20% - 20px); /* Set the width for five items per row with some spacing */
  text-align: center; /* Center-align each item */
  margin-bottom: 20px; /* Add spacing at the bottom of each item */
}

.flag-img {
  width: 200px; 
}

.country-name {
  text-align: center;
}

.title {
  text-align: center;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



